#offerDetailTable {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	margin-bottom: 5em;
}

#offerDetailTable th {
	width: 16em
}

#offerDetailTable tr {
	margin-top: 2em;
	
}

#statisticInfo {
	text-align:center;
	
}
	
.statistic-rect svg{
	width: 5em;
	height: 5em;
	
}

.statistic-rect {
	margin:auto;
	
}
